@tailwind base;
@tailwind components;
@tailwind utilities;

/* 키오스크 필수 스타일 */
body {
  margin: 0;
  overflow: hidden; /* 스크롤바 제거 */
  user-select: none; /* 드래그 방지 */
  background-color: #000;
  color: white;
}
