@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 숨기기 유틸리티 추가 (키오스크용) */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


/* Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}